$col-sm: 576px; //col-sm
$col-md: 768px; //col-md
$col-lg: 992px; //col-lg
$col-xl: 1200px; //
html {
  scroll-behavior: smooth;
}

.holder {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
}

.searchbar {
  .input {
    width: 100%;
  }
}
.logo-holder {
  text-align: center;
  @media (min-width: $col-lg) {
    padding-left: 30px;
  }
  .logo {
    width: 150px!important;
    height: 65px;
    padding: 10px 0;
  }
}

.ui.two.column.grid {
  & > .ui.button {
    margin-left: 15px;
  }
}

.ui.vertical.menu {
  width: 100%;
  text-align: center;
}
.pointer.menu {
  
  .search.item {
    min-width: auto;

    justify-content: center;
    .searchbar {
      width: 100%;

      & > .twelve.wide.column {
        width: 100%!important;
      }
    }
  }
}

.ui.cards {
  .extra.content.addbutton {
    animation: easyentry .5s linear;
  }
}

@keyframes easyentry {
  from {opacity: 0}
  to {opacity: 1}
}

.singlemovie-holder {
  margin-top: -1rem;
  .poster {
    & > img, .placeholder {
      width: 100%;
      border-radius: 10px;
    }
  }

  .title-holder {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .CircularProgressbar {
      max-width: 100px;
    }
    h2 {
      margin: 0
    }
    
  }

  .film-information {
    font-size: 1.1rem;
    padding: 1.5rem !important;
    color: white;
    h4 {
      margin: 0;
      margin-bottom: 20px;
      font-style: italic;
    }
    .film-meta {
      margin-bottom: 10px;
      color: white;
      .item {
        color: inherit;
        font-weight: bold;
        font-size: 1.1rem;
        &:before {
          color: white!important;
        }
      }
    }
  }

  .movie-overview {
    margin-bottom: 40px;
  }

  .slider-container {
    padding-bottom: 100px;
    padding-top: 50px;
    .slick-slide > div {
      padding: 10px;
    }
    .slider > h2 {
      padding: 10px;
    }

    .image {
      animation: show .2s ease-in-out;
      transition: all .3s ease-in-out;
      img{
        height: 334px;
      }
    }
    @keyframes show {
      from {opacity: 0}
      to {opacity: 1}
    }

    .ui.card {
      animation: show .5s ease-in-out;

    }


  }

  .ui.stackable.grid {
    margin-left: 0 !important;
    @media (min-width: $col-lg) {
      margin-left: -1rem !important;
    }
    
  }
}

.ui.page.modals {
  .modal {
    text-align: center;
    max-width: 80vw;
    margin-left: 0px !important;
    .header {
      text-align: left;
    }

    iframe {
      padding: 30px;
      max-width: 100%;
    }
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.more-holder {
  animation: show 2s ease-in-out;
  text-align: center;
  padding: 40px 0;

  .morebutton {
    margin: 0 5px;
  }
}

.ui.button {
  margin-right: 0;
}